.body {
    margin: 0;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

h1{
    color: rgb(241, 240, 236);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;   
}

.inicio {
    text-align: center;
    margin-top: 550px;
    font-size: 30px;
} 

.selectMonto {
    border-radius: 25px;
    font-size: 28px;
    color: black;   
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
    background: rgb(206, 192, 160);
    padding: 20px;
}

.seleccionar {
    border: solid 1px white;
    width: 100px;
    border-radius: 25px;
    padding: 25px;
    color: #4f4f4f;
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
    background: rgb(206, 192, 160);
    font-size: 12px;
}

.contenedor {
    display: none;
}

.contenedorTarjeta {
    /*ancho*/
    width: 100%;
    display: flex;
    flex-direction: column;
     /* fondo*/
    background-image: url(galeria/terra.png);
    align-items: center;   
    font-family: 'M PLUS 1 Code', sans-serif;   
}

.tarjeta {
    width: 100%;
    max-width: 550px;
    color: black;
}

.tarjeta > article {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
}

.tarjeta .delantera{
    width: 100%;
    background-image: url(galeria/card.png);
    background-size: cover;
    border-radius: 15px;   
}

.delantera .logoMarca{
    text-align: right;
    min-height: 50px;
}

.delantera .logoMarca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
}

.delantera .chip {
    width: 100%;
    max-width: 70px;
    margin-bottom: 20px;  
}

.delantera .grupo {
    color: black;
    font-size: 22px;
    /* uppercase mayuscula*/
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/*********Back Card************/

.trasera {
    background-image: url(galeria/card.png);
    width: 100%;
    margin-top: 20px;
    font-size: 50px;
}

.trasera .barraMagnetica {
    height: 40px;
    background: black;
    width: 100%;
}

.trasera .datos {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.trasera .datos #ccv {
    width: 20%;
    font-size: 20px;
}

.trasera .datos #ccv .ccv {
    background: rgb(206, 192, 160);
    height: 40px;
    color: black;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
}

.trasera .leyenda {
    font-size: 20px;
    line-height: 24px;
}

/* Formilario */
.formulario label {
    display: block;
    color: #0c1b29;
    margin-bottom: 5px;
    font-size: 20px;
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
}
 
.validar{
    border: solid 1px #70f502;
    width: 100px;
    border-radius: 25px;
    padding: 9px;
    color: #4f4f4f;
    font-size: 15px;
    margin-top: 20px;
    box-shadow: 0 10px 10px 0 rgb(177, 253, 0);
    background: rgb(206, 192, 160);
}
    
.validar:focus{
    border-color: white;
    border-radius: 15px;
}

.formulario input,
.formulario select,
.botonCargar {
    border: solid 1px white;
    font-size: 18px;
    height: 50px;
    width: 250px;
    border-radius: 25px;   
    color: black;   
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
    background: rgb(206, 192, 160);
}

.formulario input {
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: 0 10px 10px 0 rgba(240, 183, 118, 0.3);
}

.formulario .flexbox {
    display: flex;
    justify-content: space-between;
}

.botonCargar {
    border: solid 1px #70f502;
    width: 100px;
    border-radius: 25px;
    padding: 9px;
    color: #4f4f4f;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: 0 10px 10px 0 #4f4f4f;
}
